.header{
    background-color: #4FBF2A;
    height: 100px;
}
.logo img{
    width: 65px;
    margin-left: 13px;
    margin-top:20px;
}
.button nav a{
    color: white;
    background-color: #017a0b;
    margin-right:7px;
}
.button nav{
    margin-top:30px;
    margin-left:70px;
    width: 80%;
}
#menuToggle{
    display: none;
}
.menu-icon{
    display: none;
}
.search form{
    margin-top:20px;
}
.search form input{
    margin-right:20px;
}
.search form button{
    background-color:#017a0b;
    color:white;
}
.carousel{
    margin-top:25px;
}
.mensagem div h1{
    text-align: center;
    color: #025c09;
}
.mensagem div{
    margin-top: 30px;
    background-color: #4FBF2A;
}
.abrigos div img{
    width: 190px;
    margin-left:10px;
}
.abrigos{
    margin-top:40px;
}
.abrigo{
    background-color: #5bda31;
    padding:20px;
    margin-inline: 40px;
}
.pets div img{
    width: 150px;
    height: 150px;
}
.pets div{
    margin-inline: 30px;
    margin-top: 30px;
}
.pets div h5{
    background-color: #5bda31;
    text-align: center;
}
.motivacional{
    background-color: #98d384;
    margin-top:2px;
}
.motivacional div h5{
    padding:20px;
}
.imagemMotivacional div div img{
    width: 150px;
    height: 150px;
    margin-top: 35px;
    margin-left:25px;
}
.parceiros div{
    background-color: #3a967a;
    margin-inline: 40px;
    padding:40px;
}
.parceiros{
    margin-top: 30px;
}
.mensagemSobre div{
    margin-top: 30px;
    background-color: #aadfbe;
    margin-inline: 40px;
    padding:20px;
}
.mensagemSobre div h1{
    color:#206809;
    text-align: center;
}
.projeto div{
    background-color: #aadfbe;
    margin-inline: 40px;
}
.projeto div h5{
    padding:5px;
}
.iconsBaixo{
    margin-left: 120px;
    margin-top:-80px;
    padding:30px;
}
.footer{
    background-color: #4FBF2A;
    margin-top:35px;
    height: 70px;
}
.footer div h3{
    text-align: center;
    margin-top:20px;
}
.sobre{
    margin-top:40px;
}
.sobre div div{
    background-color: #aadfbe;
}
.redes{
    margin-left:130px;
}
.sobre div div div div h1{
    text-align: center;
    padding:10px;
}
.sobre div div div div h5{
    text-align: center;
    padding:10px;
}
@media screen and (max-width:412px) {
    .search {
        display: none;
    }
    .pets div:nth-last-child(-n+2) {
        display: none;
      }
      .abrigo{
          margin-bottom: 10px;
      }
      .parceiros div{
          margin-bottom: 10px;
      }
      .imagemMotivacional div div img{
        width: 100px;
        height: 100px;
        margin-top: -20px;
      }
      .motivacional{
        background-color: #98d384;
        margin-top:5px;
        height: 770px;
    }
    .parceiros{
        margin-top: 5px;
    }
    .parceiros div{
        background-color: #3a967a;
        padding:30px;
        display:inline-flexbox;
    }
    .abrigos{
        margin-top:5px;
    }
    .footer{
        background-color: #4FBF2A;
        margin-top:35px;
        height: 50px;
    }
    .footer div h3{
        text-align: center;
        font-size: small;
    }
    .pets div img{
        width: 120px;
        height: 120px;
    }
    .parceiros div:nth-last-child(-n+2){
        display: none;
    }
    .parceiros div{
        height: 110px;
    }
    .parceiros div h5{
        text-align: center;
    }
    .button nav{
        display: none;
    }
    .infoImagem div img{
        max-height: 40%;
        max-width: 135%;
        margin-left: -85px;
        margin-top: 0px;
    }
    .infoMsg div{
        margin-top: -380px;
    }
    .infoImagem{
        margin-top: 0px;
    }
    .infoMsg div h2{
        padding:30px;
    }
    
    .infoInformacao{
        margin-left:0px !important;
        width: 100% !important;
    }
    .infoLinha {
        margin-top:0px;
    }
    #ultimoAbrigo{
        display: none;
    }
    .pets div h5{
        width: 100px;
    }
    .redes{
        margin-left:0px;
        margin-top: 5px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    #menuToggle{
        display: none;
    }
    .menu-icon{
        display: none;
    }
    .search {
        display: none;
    }
    .parceiros div{
        margin-bottom: 15px;
    }
    .infoImagem div img{
        width: 100% !important;
        height: 100% !important;
    }
    .infoImagem{
        margin-top: 0px;
        margin-left: 0px;
    }
    .infoImagem div img{
        margin-left: -35px;
    }
    .pets div:nth-last-child(-n+1) {
        display: none;
      }
    .abrigo{
          margin-bottom: 10px;
      }
    .button nav a:last-child{
        display: none;
    }
}
@media screen and (min-width:413px) and (max-width:768px){
    #menuToggle{
        display: none;
    }
    .menu-icon{
        display: none;
    }
    .search {
        display: none;
    }
    .parceiros div{
        margin-bottom: 15px;
    }
    .infoImagem div img{
        width: 900px;
        height: 600px;
    }
    .infoImagem{
        margin-top: 0px;
        margin-left: 0px;
    }
    .pets div:nth-last-child(-n+1) {
        display: none;
      }
    .abrigo{
          margin-bottom: 10px;
      }
    .button nav a:last-child{
        display: none;
    }
    .redes{
        margin-left:120px;
    }
}
/* FIM INDEX.HTML*/
/* DOACAO.HTML */
.pMensagem div h1{
    text-align: center;
    color:#180605;
}
.pMensagem{
    margin-top:10px;
}
.doacaoAbrigo{
    margin-top:10px;
}
.msg div h4{
    text-align: center;
}
.doacaoAbrigo div div div div img{
    width: 400px;
    height: 600px;
}
.doacaoAbrigos{
    margin-top:20px;
    background-color: #93daca;
    padding: 50px;
}
.doacaoInfo{
    margin-top:15px;
}
.btnCadastre{
    margin-top:35px;
}
/* FIM DOAÇÃO */
/* INFORMAÇÕES */
.infoImagem div img{
    width: 900px;
    height: 600px;
}
.infoImagem{
    margin-top: 25px;
    margin-left: 60px;
}
.infoMsg div h2{
    text-align: center;
    padding:30px;
    background-color: #b7faea;
}
.infoMsg{
    margin-top: 25px;
}
.infoInformacao{
    text-align: center;
    background-color: #cff6fd;
    padding:25px;
    width: 80%;
    margin-left: 80px;
}
.infoFoto div img{
    width: 40%;
}
.infoLinha {
    margin-top:20px;
}
